.feature-card img {
  width: 100%;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card img:hover {
  transform: translateY(-20px) scale(1.05);
  box-shadow: 0 10px 20px rgba(51, 49, 49, 0.9);
  cursor: pointer;
}