@import "tailwindcss";
@font-face {
  font-family: "Founder_Grotest_BOLD";
  src: url("assets/fonts/Founders_Grotesk/FoundersGrotesk-Bold.otf") format("opentype");
 
}
@font-face {
  font-family: "Founder_Grotest_regular";
  src: url("assets/fonts/Founders_Grotesk/FoundersGrotesk-Regular.otf") format("opentype");
 
}

body{
  font-family: "Founder_Grotest_regular";
}
